@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
 *
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}


body
{
    font-family: 'Roboto', sans-serif;
    
}
a
{
    text-decoration: none;
}
.product-card {
    width: 300px;
    height: 450px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}


.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
    text-align:center;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(59, 58, 58);
    margin-bottom: 18px;
}

.product-description {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: rgb(59, 58, 58);
    margin-bottom: 18px;
}

.product-bottom-details {
   
    border-top: 1px solid #eee;
    padding-top: 20px;
    display: flex;
    text-align:center;
    justify-content: center;
   
}

.product-bottom-details div {
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-stock {
    font-size: 12px;
    color: #0a0a0a;
    font-weight: 600;
}